<template>
  <div class="character" @click="$router.push(`/characters/${character.id}`)">
    <img class="character__picture" :src="character.image" alt="Picture" />
    <p>Имя: {{ character.name }}</p>
    <p>Статус: {{ character.status }}</p>
    <p>Вид: {{ character.species }}</p>
  </div>
</template>

<script>
import { defineComponent } from "vue";
export default defineComponent({
  name: "character-item",

  props: {
    character: {
      type: Object,
      required: true,
    },
  },
});
</script>

<style lang="css" scoped>
p {
  max-width: 220px;
}
.character__picture {
  border-radius: 50%;
  max-width: 220px;
}
.character {
  cursor: pointer;
  display: flex;
  margin-bottom: 20px;
  border: 1px solid teal;
  padding: 20px 10px;
  flex-direction: column;
  background-color: rgb(15, 156, 221);
  box-shadow: 0 -150px 70px -120px teal inset,
    0 -220px 70px -120px rgb(116, 106, 243) inset,
    0 -280px 70px -120px rgb(0, 255, 255) inset;
}

.character:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
</style>
