<template>
  <div class="characters" v-if="characters.length > 0">
    <transition-group name="character-list">
      <character-item
        :key="character.id"
        v-for="character in characters"
        :character="character"
      />
    </transition-group>
  </div>
  <h2 v-else>Список персонажей пуст</h2>
</template>

<script>
import { defineComponent } from "vue";
import CharacterItem from "./CharacterItem.vue";
export default defineComponent({
  name: "character-list",
  components: {
    CharacterItem,
  },
  props: {
    characters: {
      type: Array,
      required: true,
    },
  },
});
</script>

<style lang="css" scoped>
.characters {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 20px;
  align-items: center;
  justify-content: center;
}
.character-list-move,
.character-list-enter-active,
.character-list-leave-active {
  transition: all 0.5s ease;
}
.character-list-enter-from,
.character-list-leave-to {
  opacity: 0;
  transform: translateY(30px);
}
</style>
