<template>
  <div class="location" v-if="!isLocationInfoLoading">
    <h2>Резиденты планеты {{ location.name }}</h2>
    <character-list :characters="residentsInfo" />
  </div>
  <loader v-else></loader>
</template>

<script>
import CharacterList from "../../components/Character/CharacterList.vue";
import { defineComponent } from "vue";
import axios from "axios";
import Loader from "../../components/UI/Loader.vue";

export default defineComponent({
  components: {
    CharacterList,
    Loader,
  },
  data() {
    return {
      isLocationInfoLoading: false,
      residentsInfo: [],
      residentNumber: [],
      residentsNumbers: [],
      location: {
        id: 0,
        name: "",
        type: "",
        dimension: "",
        residents: [],
      },
    };
  },
  methods: {
    async fetchLocationInfo() {
      try {
        this.isLocationInfoLoading = true;
        const response = await axios.get(
          `https://rickandmortyapi.com/api/location/${this.$route.params.id}`
        );
        this.location = response.data;
        for (let i = 0; i < this.location.residents.length; i++) {
          this.residentNumber = this.location.residents[i].split("/");
          this.residentsNumbers.push(this.residentNumber[5]);
        }
        const residents = await axios.get(
          `https://rickandmortyapi.com/api/character/${this.residentsNumbers}`
        );
        if (!Array.isArray(residents.data)) {
          this.residentsInfo.push(residents.data);
        } else {
          this.residentsInfo = residents.data;
        }
      } catch (error) {
        console.error("location info load failed", error);
      } finally {
        this.isLocationInfoLoading = false;
      }
    },
  },
  mounted() {
    this.fetchLocationInfo();
  },
});
</script>

<style lang="scss" scoped></style>
