<template>
  <h1>Локации</h1>
  <div class="managing">
    <custom-input placeholder="Поиск по имени..." v-model="searchQuery" />
  </div>
  <location-list :locations="searchedLocations" v-if="!isLocationsLoading" />
  <loader v-else></loader>
  <div v-intersection="fetchLocations" class="observer"></div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import axios from "axios";
import LocationList from "../../components/Location/LocationList.vue";
import CustomInput from "../../components/UI/CustomInput.vue";
import Loader from "../../components/UI/Loader.vue";
import { ILocation, LocationResponse } from "../../types/types";

export default defineComponent({
  components: {
    LocationList,
    CustomInput,
    Loader,
  },
  data() {
    return {
      page: 0,
      searchQuery: "",
      totalPages: 1,
      locations: [] as ILocation[],
      isLocationsLoading: false,
    };
  },
  methods: {
    async fetchLocations() {
      try {
        if (this.page < this.totalPages) {
          this.page += 1;

          const response = await axios.get<LocationResponse>(
            "https://rickandmortyapi.com/api/location",
            {
              params: {
                page: this.page,
              },
            }
          );
          this.totalPages = response.data.info.pages;
          this.locations = [...this.locations, ...response.data.results];
        }
      } catch (error) {
        console.error("locations load failed", error);
      }
    },
    async loadLocationsByFilter() {
      try {
        this.isLocationsLoading = true;
        const response = await axios.get<LocationResponse>(
          "https://rickandmortyapi.com/api/location/",
          {
            params: {
              name: this.searchQuery,
            },
          }
        );
        this.totalPages = response.data.info.pages;
        this.locations = response.data.results;
      } catch (error) {
        alert("Ничего не найдено");
      } finally {
        this.isLocationsLoading = false;
      }
    },
  },
  mounted() {
    this.fetchLocations();
  },
  watch: {
    searchQuery() {
      this.loadLocationsByFilter();
    },
  },
  computed: {
    searchedLocations() {
      return this.locations.filter((location) =>
        location.name
          .toLocaleLowerCase()
          .includes(this.searchQuery.toLocaleLowerCase())
      );
    },
  },
});
</script>

<style lang="css" scoped></style>
