<template>
  <div class="episode" v-if="!isEpisodeInfoLoading">
    <h2>Персонажи участники эпизода {{ episode.name }}</h2>
    <character-list :characters="charactersInfo" />
  </div>
  <loader v-else></loader>
</template>

<script>
import CharacterList from "../../components/Character/CharacterList.vue";
import { defineComponent } from "vue";
import axios from "axios";
import Loader from "../../components/UI/Loader.vue";
export default defineComponent({
  components: {
    CharacterList,
    Loader,
  },
  data() {
    return {
      isEpisodeInfoLoading: false,
      charactersInfo: [],
      characterNumber: [],
      charactersNumbers: [],
      episode: {
        id: 0,
        name: "",
        air_date: "",
        characters: [],
      },
    };
  },
  methods: {
    async fetchEpisodeInfo() {
      try {
        this.isEpisodeInfoLoading = true;
        const response = await axios.get(
          `https://rickandmortyapi.com/api/episode/${this.$route.params.id}`
        );
        this.episode = response.data;
        for (let i = 0; i < this.episode.characters.length; i++) {
          this.characterNumber = this.episode.characters[i].split("/");
          this.charactersNumbers.push(this.characterNumber[5]);
        }
        const characters = await axios.get(
          `https://rickandmortyapi.com/api/character/${this.charactersNumbers}`
        );
        //Эпизодов с единственным персонажем
        //не существует, поэтому проверка не требуется
        this.charactersInfo = characters.data;
      } catch (error) {
        console.error("episode info load failed", error);
      } finally {
        this.isEpisodeInfoLoading = false;
      }
    },
  },
  mounted() {
    this.fetchEpisodeInfo();
  },
});
</script>

<style lang="css" scoped></style>
