<template>
  <div>
    <h1>Эпизоды</h1>
    <div class="managing">
      <custom-input placeholder="Поиск по имени..." v-model="searchQuery" />
    </div>
    <episode-list :episodes="searchedEpisodes" v-if="!isLoading" />
    <loader v-else></loader>

    <div v-intersection="fetchEpisodes" class="observer"></div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import EpisodeList from "../../components/Episode/EpisodeList.vue";
import CustomInput from "../../components/UI/CustomInput.vue";
import axios from "axios";
import Loader from "../../components/UI/Loader.vue";
import { IEpisode, EpisodeResponse } from "../../types/types";

export default defineComponent({
  components: {
    EpisodeList,
    CustomInput,
    Loader,
  },
  data() {
    return {
      page: 0,
      searchQuery: "",
      totalPages: 1,
      episodes: [] as IEpisode[],
      isLoading: false,
    };
  },
  methods: {
    async fetchEpisodes() {
      try {
        if (this.page < this.totalPages) {
          this.page += 1;

          const response = await axios.get<EpisodeResponse>(
            "https://rickandmortyapi.com/api/episode",
            {
              params: {
                page: this.page,
              },
            }
          );

          this.totalPages = response.data.info.pages;
          this.episodes = [...this.episodes, ...response.data.results];
        }
      } catch (error) {
        console.error("episodes load failed", error);
      }
    },
    async loadEpisodesByFilter() {
      try {
        this.isLoading = true;
        const response = await axios.get<EpisodeResponse>(
          "https://rickandmortyapi.com/api/episode/",
          {
            params: {
              name: this.searchQuery,
            },
          }
        );
        this.totalPages = response.data.info.pages;
        this.episodes = response.data.results;
      } catch (error) {
        alert("Ничего не найдено");
      } finally {
        this.isLoading = false;
      }
    },
  },
  mounted() {
    this.fetchEpisodes();
  },
  watch: {
    searchQuery() {
      this.loadEpisodesByFilter();
    },
  },
  computed: {
    searchedEpisodes() {
      return this.episodes.filter((episode) =>
        episode.name
          .toLocaleLowerCase()
          .includes(this.searchQuery.toLocaleLowerCase())
      );
    },
  },
});
</script>

<style lang="css" scoped></style>
