<template>
  <div class="location" @click="$router.push(`/locations/${location.id}`)">
    <p>Название: {{ location.name }}</p>
    <p>Тип: {{ location.type }}</p>
    <p>Измерение: {{ location.dimension }}</p>
  </div>
</template>

<script>
import { defineComponent } from "vue";
export default defineComponent({
  name: "location-item",

  props: {
    location: {
      type: Object,
      required: true,
    },
  },
});
</script>

<style lang="css" scoped>
.location {
  max-width: 260px;
  min-width: 260px;
  cursor: pointer;
  display: flex;
  margin-bottom: 20px;
  border: 1px solid rgb(0, 128, 79);
  padding: 20px 10px;
  flex-direction: column;
  background-color: rgb(255 255 255);
  box-shadow: 0 -150px 70px -120px rgb(43 127 26 / 97%) inset,
    0 -220px 70px -120px rgb(201 194 57 / 75%) inset,
    0 -280px 70px -120px rgb(0 143 24 / 74%) inset;
}
</style>
