<template>
  <div class="locations" v-if="locations.length > 0">
    <transition-group name="location-list">
      <location-item
        :key="location.id"
        v-for="location in locations"
        :location="location"
      />
    </transition-group>
  </div>
  <h2 v-else>Список эпизодов пуст</h2>
</template>

<script>
import { defineComponent } from "vue";
import LocationItem from "./LocationItem.vue";
export default defineComponent({
  name: "location-list",
  components: {
    LocationItem,
  },
  props: {
    locations: {
      type: Array,
      required: true,
    },
  },
});
</script>

<style lang="css" scoped>
.locations {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 20px;
  align-items: center;
  justify-content: center;
}
.location-list-move,
.location-list-enter-active,
.location-list-leave-active {
  transition: all 0.5s ease;
}
.location-list-enter-from,
.location-list-leave-to {
  opacity: 0;
  transform: translateY(30px);
}
</style>
