<template>
  <div class="episode" @click="$router.push(`/episodes/${episode.id}`)">
    <p>Название: {{ episode.name }}</p>
    <p>Порядковый номер: {{ episode.episode }}</p>
    <p>Дата релиза: {{ episode.air_date }}</p>
  </div>
</template>

<script>
import { defineComponent } from "vue";
export default defineComponent({
  name: "episode-item",

  props: {
    episode: {
      type: Object,
      required: true,
    },
  },
});
</script>

<style lang="css" scoped>
.episode {
  max-width: 260px;
  min-width: 260px;
  cursor: pointer;
  display: flex;
  margin-bottom: 20px;
  border: 1px solid rgb(0, 128, 79);
  padding: 20px 10px;
  flex-direction: column;
  background-color: rgb(255 255 255 / 82%);
  box-shadow: 0 -150px 70px -120px rgb(26 30 127 / 97%) inset,
    0 -220px 70px -120px rgb(151 57 201 / 75%) inset,
    0 -280px 70px -120px rgb(0 60 255 / 51%) inset;
}
</style>
