<template>
  <div class="episodes" v-if="episodes.length > 0">
    <transition-group name="episode-list">
      <episode-item
        :key="episode.id"
        v-for="episode in episodes"
        :episode="episode"
      />
    </transition-group>
  </div>
  <h2 v-else>Список эпизодов пуст</h2>
</template>

<script>
import { defineComponent } from "vue";
import EpisodeItem from "./EpisodeItem.vue";
export default defineComponent({
  name: "episode-list",
  components: {
    EpisodeItem,
  },
  props: {
    episodes: {
      type: Array,
      required: true,
    },
  },
});
</script>

<style lang="css" scoped>
.episodes {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 20px;
  align-items: center;
  justify-content: center;
}
.episode-list-move,
.episode-list-enter-active,
.episode-list-leave-active {
  transition: all 0.5s ease;
}
.episode-list-enter-from,
.episode-list-leave-to {
  opacity: 0;
  transform: translateY(30px);
}
</style>
