<template>
  <div class="character" v-if="!isCharacterInfoLoading">
    <img
      class="character__picture"
      v-bind:src="character.image"
      alt="Picture"
    />
    <h2 class="title">Имя: {{ character.name }}</h2>
    <p>Статус: {{ character.status }}</p>
    <p>Вид: {{ character.species }}</p>
    <p>Пол: {{ character.gender }}</p>
    <p>Происхождение: {{ character.origin.name }}</p>
    <h2 class="title">
      Эпизоды с участием персонажа
      {{ character.name }}
    </h2>
    <episode-list :episodes="episodesInfo" />
  </div>
  <loader v-else></loader>
</template>

<script>
import EpisodeList from "../../components/Episode/EpisodeList.vue";
import { defineComponent } from "vue";
import axios from "axios";
import Loader from "../../components/UI/Loader.vue";

export default defineComponent({
  components: {
    EpisodeList,
    Loader,
  },
  data() {
    return {
      isCharacterInfoLoading: false,
      episodesNumbers: [],
      episodeNumber: [],
      episodesInfo: [],
      character: {
        id: 0,
        name: "",
        status: "",
        gender: "",
        origin: {
          name: "",
        },
        episode: [],
      },
    };
  },
  methods: {
    async fetchCharacterInfo() {
      try {
        this.isCharacterInfoLoading = true;
        const response = await axios.get(
          `https://rickandmortyapi.com/api/character/${this.$route.params.id}`
        );
        this.character = response.data;
        for (let i = 0; i < this.character.episode.length; i++) {
          this.episodeNumber = this.character.episode[i].split("/");
          this.episodesNumbers.push(this.episodeNumber[5]);
        }
        const episodes = await axios.get(
          `https://rickandmortyapi.com/api/episode/${this.episodesNumbers}`
        );
        if (!Array.isArray(episodes.data)) {
          this.episodesInfo.push(episodes.data);
        } else {
          this.episodesInfo = episodes.data;
        }
      } catch (error) {
        console.error("characters load failed", error);
      } finally {
        this.isCharacterInfoLoading = false;
      }
    },
  },
  mounted() {
    this.fetchCharacterInfo();
  },
});
</script>

<style lang="css" scoped>
.character__picture {
  border-radius: 15px;
}
.character {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 20px 10px;
  flex-direction: column;
}

.title {
  margin-bottom: 20px;
  margin-top: 20px;
  line-height: 30px;
}
</style>
