<template>
  <div>
    <h1>Персонажи</h1>
    <div class="managing">
      <custom-input placeholder="Поиск по имени..." v-model="searchQuery" />
      <custom-select v-model="selectedStatus" :options="sortOptions" />
    </div>
    <character-list :characters="searchedCharacters" />
    <loader v-if="isCharactersLoading"></loader>
    <div v-intersection="fetchCharacters" class="observer"></div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import CharacterList from "../../components/Character/CharacterList.vue";
import CustomInput from "../../components/UI/CustomInput.vue";
import CustomSelect from "../../components/UI/CustomSelect.vue";
import axios from "axios";
import Loader from "../../components/UI/Loader.vue";
import List from "../../components/UI/List.vue";
import { ICharacter, CharacterResponse } from "../../types/types";
export default defineComponent({
  components: {
    CharacterList,
    CustomInput,
    CustomSelect,
    Loader,
    List,
  },
  data() {
    return {
      page: 0,
      searchQuery: "",
      totalPages: 1,
      characters: [] as ICharacter[],
      isCharactersLoading: false,
      selectedStatus: "",
      sortOptions: [
        {
          value: "Alive",
          name: "Alive",
        },
        {
          value: "Dead",
          name: "Dead",
        },
        {
          value: "unknown",
          name: "unknown",
        },
        {
          value: "",
          name: "Не выбрано",
        },
      ],
    };
  },
  methods: {
    async fetchCharacters() {
      try {
        if (this.page < this.totalPages) {
          this.page += 1;
          const response = await axios.get(
            "https://rickandmortyapi.com/api/character",
            {
              params: {
                page: this.page,
              },
            }
          );
          this.totalPages = response.data.info.pages;
          this.characters = [...this.characters, ...response.data.results];
        }
      } catch (error) {
        console.error("characters load failed", error);
      }
    },
    async fetchCharactersByFilter() {
      try {
        this.isCharactersLoading = true;
        const response = await axios.get<CharacterResponse>(
          `https://rickandmortyapi.com/api/character/`,
          {
            params: {
              name: this.searchQuery,
            },
          }
        );
        this.totalPages = response.data.info.pages;
        this.characters = response.data.results;
      } catch (error) {
        alert("Ничего не найдено");
      } finally {
        this.isCharactersLoading = false;
      }
    },
  },
  mounted() {
    this.fetchCharacters();
  },
  computed: {
    filteredCharacters() {
      return this.characters.filter((character: ICharacter) =>
        character.status.includes(this.selectedStatus)
      );
    },
    searchedCharacters() {
      return this.filteredCharacters.filter((character: ICharacter) =>
        character.name
          .toLocaleLowerCase()
          .includes(this.searchQuery.toLocaleLowerCase())
      );
    },
  },
  watch: {
    searchQuery() {
      this.fetchCharactersByFilter();
    },
  },
});
</script>

<style lang="css" scoped>
.managing {
  max-width: 88%;
  margin: 0 auto;
  display: flex;
  row-gap: 10px;
  column-gap: 20px;
  align-items: center;
  justify-content: center;
}
.observer {
  visibility: hidden;
}
</style>
