<script setup lang="ts">
import Navbar from "./components/UI/Navbar.vue";
components: {
  Navbar;
}
</script>

<template>
  <navbar></navbar>
  <div class="app">
    <router-view></router-view>
  </div>
</template>

<style>
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
.app {
  padding: 20px;
  margin-top: 20px;
}
</style>
