<template>
  <input
    v-on:input="debouncedHandler"
    :value="modelValue"
    @input="updateInput"
    class="input"
    type="text"
  />
</template>

<script>
import debounce from "lodash.debounce";
export default {
  name: "my-input",
  props: {
    modelValue: [String, Number],
  },
  created() {
    this.debouncedHandler = debounce((event) => {
      this.$emit("update:modelValue", event.target.value);
    }, 500);
  },
  beforeUnmount() {
    this.debouncedHandler.cancel();
  },
};
</script>

<style scoped>
.input {
  width: 100%;
  border: 1px solid teal;
  padding: 10px 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}
</style>
