<template>
  <div class="lists" v-if="items.length > 0">
    <transition-group name="list">
      <character-item :key="item.id" v-for="item in items" :item="item" />
    </transition-group>
  </div>
  <h2 v-else>Список пуст</h2>
</template>

<script>
import { defineComponent } from "vue";
import LocationItem from "../Location/LocationItem.vue";
import EpisodeItem from "../Episode/EpisodeItem.vue";
import CharacterItem from "../Character/CharacterItem.vue";

export default defineComponent({
  name: "list",
  components: {
    LocationItem,
    EpisodeItem,
    CharacterItem,
  },
  props: {
    items: {
      type: Array,
      required: true,
    },
  },
});
</script>

<style lang="css" scoped>
.lists {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 20px;
  align-items: center;
  justify-content: center;
}
.list-list-move,
.list-list-enter-active,
.list-list-leave-active {
  transition: all 0.5s ease;
}
.list-list-enter-from,
.list-list-leave-to {
  opacity: 0;
  transform: translateY(30px);
}
</style>
