<template>
  <div class="navbar">
    <p class="title">Rick and Morty</p>
    <div class="navbar__btns">
      <button @click="$router.push('/')" class="nav__btn">Персонажи</button>
      <button @click="$router.push('/episodes')" class="nav__btn">
        Эпизоды
      </button>
      <button @click="$router.push('/locations')" class="nav__btn">
        Локации
      </button>
    </div>
  </div>
</template>

<script lang="ts">
export default {};
</script>

<style lang="css" scoped>
.navbar {
  height: 50px;
  background-color: teal;
  box-shadow: 0px 2px 10px 2px #2652adc4;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.navbar__btns {
  display: flex;
  column-gap: 10px;
  align-items: center;
  margin-right: 10px;
}

.nav__btn {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
  box-shadow: 0px 0px 4px 1px #007070;
}
button:hover {
  border-color: #64ff71;
}

.title {
  margin: 15px 10px;
}
</style>
